# Bonus: Temperature Analysis I

In [103]:
import pandas as pd
from datetime import datetime as dt

In [104]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [106]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
 
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [107]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [108]:
# Drop the date column
#df.reset_index(drop=True)
df2=df.drop(columns=['date'])

In [109]:
df2

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [131]:
from scipy import stats
from scipy.stats import ttest_ind, ttest_ind_from_stats
from scipy.stats import ttest_rel

In [132]:
# Filter data for desired months
df = df[(df['date'].dt.month == 12) | (df['date'].dt.month == 0o06)]

#df = df[(df['date'].dt.month == 12)]
#df = df[(df['date'].dt.month == 0o06)]

In [133]:
df

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[3217 rows x 4 columns]

In [134]:
# Identify the average temperature for June

df_June = df[(df['date'].dt.month == 0o06)]

In [135]:
Mean_June = df_June['tobs'].mean()
print(Mean_June)

74.94411764705882

In [136]:
new_df = df.dropna(axis = 0, how ='any')

In [137]:
# Identify the average temperature for December

df_Dec =new_df[(new_df['date'].dt.month == 12)]

In [138]:
Mean_Dec = df_Dec['tobs'].mean()
print(Mean_Dec)

70.93024911032029

In [139]:
# Create collections of temperature data

# initialize list of lists
data = [['June', Mean_June], ['Dec', Mean_Dec]]
  
# Create the pandas DataFrame
dfNew = pd.DataFrame(data, columns = ['Month', 'Mean'])

#dfNew= pd.DataFrame[]

In [140]:
dfNew

  Month       Mean
0  June  74.944118
1   Dec  70.930249

In [142]:
# Run paired t-test
#ttest_ind(Mean_June, Mean_Dec)
t1 = dfNew[dfNew['Mean']=='June']
t2 = dfNew[dfNew['Mean']=='Dec']



ttest_ind(t1, t2,equal_var=True)

Ttest_indResult(statistic=array([nan, nan]), pvalue=array([nan, nan]))

### Analysis